<h1 class="display-4">Clientes</h1>

<div class="text-right">
  <button type="button" class="btn btn-primary mb-2" (click)="openModalToCreate()">Crear nuevo</button>
</div>

<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Nombre</th>
    <th scope="col">Teléfono</th>
    <th scope="col">Identificación</th>
    <th scope="col">Creado en</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let c of clientService.getAll() | async">
    <td>{{c.id}}</td>
    <td><img src="assets/noimage-user.jpg" class="img-circle img-size-32" alt="" width="50" height="50"> {{c.name}}</td>
    <td>{{c.phone | mask: '(000) 000-0000'}}</td>
    <td>{{c.identification | mask: '000-0000000-0'}}</td>
    <td>{{c.createdAt | date: 'mediumDate'}}</td>
  </tr>
  </tbody>
</table>
