<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title" *ngIf="title">{{title}}</h4>
  <button type="button"
          class="close"
          aria-label="Close"
          (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  <dl class="row">
    <dt class="col-sm-3">Cliente</dt>
    <dd class="col-sm-9">{{rental.client.name}}</dd>
    <dt class="col-sm-3">Identificación</dt>
    <dd class="col-sm-9">{{rental.client.identification | mask: '000-0000000-0'}}</dd>
    <dt class="col-sm-3">Desde</dt>
    <dd class="col-sm-9">{{rental.createdAt | date: 'MMMM d'}}</dd>
    <dt class="col-sm-3">Días</dt>
    <dd class="col-sm-9">{{daysBetween}}</dd>
  </dl>

  <form [formGroup]="form" autocomplete="off">
    <table class="table table-sm">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Costo</th>
        <th scope="col" style="width: 50px"></th>
      </tr>
      </thead>
      <tbody>
      <tr formArrayName="equipments" *ngFor="let r of rental.rentedEquipments; index as i">
        <th scope="row">{{i + 1}}</th>
        <td>{{r.equipment.name}}</td>
        <td>{{r.equipment.priceByDay | currency}}/día</td>
        <td class="align-middle" style="width: 10px">
          <div class="form-check text-center" *ngIf="!r.returned">
            <input class="form-check-input position-static" type="checkbox" [formControlName]="i">
          </div>
          <strong *ngIf="r.returned">ENTREGADO</strong>
        </td>
      </tr>
      </tbody>
    </table>
  </form>

  <dl class="row mt-2">
    <dt class="col-sm-3">Monto</dt>
    <dd class="col-sm-9 text-success">{{costToPay | currency}}</dd>
  </dl>

</div>

<div class="modal-footer">
  <button type="button"
          class="btn btn-outline-secondary"
          (click)="activeModal.dismiss()">
    Cancelar
  </button>
  <button type="button"
          class="btn btn-primary"
          [disabled]="!form.valid"
          (click)="onSubmit()">
    Guardar
  </button>
</div>
